@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');
/* ------------ PARTE DE LOGIN  ----------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Roboto Mono';
    font-size: 400;
    background: linear-gradient(rgb(6, 16, 89), rgb(4, 42, 30));
    
   
}

h5,h3,h2,h6,strong{
    color: #000000;
}

hr{
    color: #000000;
}

.body-login{
    background: #fff;
}

.body-student{
    background: linear-gradient(rgb(6, 16, 89), rgb(4, 42, 30));
}

.encabezado{
    display: grid;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    
}

.login-form {
    width: 30%;
    display: grid;
    margin: 0 auto;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 15px;
    background: linear-gradient(rgb(198, 244, 81), rgb(86, 174, 222));

}

.login-form img{
   width: 80px;
}

.login-form-img{
    margin:auto;
    padding: 0;
    align-items: center;

}
           
#button{
    background-color: red;
    width: 90px;
    margin-top: 15px;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
#button:hover{
    box-shadow: 0 2px 2px 0 #000000,0 8px 8px 0 #000000;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}
     


/* ------------ PARTE DE ADMINISTRADOR  ----------*/

header{
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: #eeedc7;
  border-bottom: 2px solid black;
}

.cabeza{
    width: 100%;
    height: 50px;
    
}

.cabeza h3{
  margin-top: 630px;
  margin: auto;
  display: flex;
  align-items: center;
    
}

.cabeza button{
  margin-right: 20px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  padding: 11px 16px;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 3px;
  color: #fff;
  background-color: #0073ff;
  border: 0;
  transition: 0.2s;
  overflow: hidden;
}

.cabeza button a{
    text-decoration: none;
    color: aliceblue;
}

.upload{
    margin: 20px;
}

.btn-warning{
    margin-left: 20px;
    position: relative;
    padding: 11px 16px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 3px;
    color: #fff;
    background-color:#c04c0dfc;
    border: 0;
    transition: 0.2s;
    overflow: hidden;
  }
  
  .btn-warning input[type = "file"]{
    cursor: pointer;
    position: absolute;
    left: 0%;
    top: 0%;
    transform: scale(3);
    opacity: 0;
  }
  
  .btn-warning:hover{
    background-color: #cbd724cf;
  }
  

  .table h3{
    margin-left: 23%;
    width: 55%;
    display: grid;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: aqua;
    border-radius: 8px;
    border: 1.5px solid black;
  }

.table-alumnos{
    display: grid;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}


table,th ,td{
    border: 1.5px solid black;
    
}

table{
    border-collapse: collapse;
    width: 500px;
    text-align: center;
}

th,td{
    padding: 10px;
   
}

td{
    transition: 1s all;
    background: rgb(255, 255, 255);
    color: #080808;
    
}

tr,th{
    background: rgb(61, 61, 255);
    height: 15px;
}

tr:hover{
   background: rgb(216, 215, 215);
   font-size: 16.7px;
   
}

td:hover{
    color: #0073ff;
}

.arbolAVL h3{
    margin-top: 30px;
    background-color: aqua;
    margin-bottom: 10px;
    width: 55%;
    border-radius: 8px;
    border: 1.5px solid black;
}

.arbolAVL-img img{
    width: 90%;
    height: 100%;
    margin-bottom: 30px;
}


/* ------------ PARTE DE ESTUDIANTE  ----------*/
.info-estudent{
    display: grid;
    margin: 0 auto;
    align-items: center;
    justify-content: center; 
}

.folder:hover{
    background-color: rgb(187, 195, 206);
    color: rgb(17, 17, 17);
    transform: .3s;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #fff;
}